<div class="container">
  <div class="header">
    <p class="header-text">Watchables</p>
    <input
      matInput
      class="header-input"
      [ngModel]="searchText"
      (ngModelChange)="onSearchTextChange($event)"
    />
    <button mat-button (click)="onAdd()">Add</button>
  </div>
  <div class="list">
    <div class="list-element" *ngFor="let item of watchables$ | async">
      <app-watchable
        [data]="item"
        (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"
      ></app-watchable>
    </div>
  </div>
</div>
