<div class="container">
  <mat-nav-list>
    <mat-list-item>
      <mat-icon class="option-text" mat-list-icon>movie</mat-icon>
      <span class="option-text" mat-line *ngIf="true">Watchables</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="option-text" mat-list-icon>theater_comedy</mat-icon>
      <span class="option-text" mat-line *ngIf="true">Genres</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="option-text" mat-list-icon>mood</mat-icon>
      <span class="option-text" mat-line *ngIf="true">Characteristics</span>
    </mat-list-item>
  </mat-nav-list>
</div>
