<div class="container">
  <div class="login-form-container">
    <div class="login-form-header">
      <p>Change password</p>
    </div>
    <div class="login-form-content">
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="isPasswordRequired">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Repeat password</mat-label>
          <input
            matInput
            type="password"
            formControlName="repeatPassword"
            [errorStateMatcher]="passwordsMatcher"
          />
          <mat-error *ngIf="isPasswordRequired">Password is required</mat-error>
          <mat-error *ngIf="passwordsNotMatch"
            >Passwords does not match</mat-error
          >
        </mat-form-field>
      </form>
    </div>
    <div class="login-form-actions">
      <button
        class="login-button"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        class="login-button"
        mat-stroked-button
        color="primary"
        (click)="onGoBack()"
      >
        Back
      </button>
    </div>
  </div>
</div>
