.button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 360px;
  justify-content: center;
  align-items: center;

  .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.info {
  display: flex;
  font-size: 16px;

  .info-header {
    margin-right: 10px;
  }
}
