<div class="container">
  <div class="header">
    <p class="header-text">Edit watchable</p>
  </div>
  <ng-container *ngIf="filmType; else serieForm">
    <app-film-form
      [watchable]="watchable$ | async"
      [genres]="genres$ | async"
      [characteristics]="characteristics$ | async"
      (onSubmit)="onSubmit($event)"
    ></app-film-form>
  </ng-container>
  <ng-template #serieForm>
    <app-serie-form
      [watchable]="watchable$ | async"
      [genres]="genres$ | async"
      [characteristics]="characteristics$ | async"
      (onSubmit)="onSubmit($event)"
    ></app-serie-form>
  </ng-template>
</div>
