<mat-card class="card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <div class="info">
      <p class="info-header">Title:</p>
      <p>Proper title</p>
    </div>
    <div class="info">
      <p class="info-header">Year:</p>
      <p>2015</p>
    </div>
    <div class="info">
      <p class="info-header">Type:</p>
      <p>Film</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Edit</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
