<mat-card class="card">
  <div class="image-container">
    <img class="image" src="{{ data?.posterUrl }}" />
  </div>
  <mat-card-content>
    <div class="info">
      <p class="info-header">Title:</p>
      <p>{{ data?.title }}</p>
    </div>
    <div class="info">
      <p class="info-header">Year:</p>
      <p>{{ data?.year }}</p>
    </div>
    <div class="info">
      <p class="info-header">Type:</p>
      <p>{{ data?.type }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onEditFn()">Edit</button>
    <button mat-button (click)="onDeleteFn()">Delete</button>
  </mat-card-actions>
</mat-card>
