<div class="container">
    <div class="header">
      <p class="header-text">Edit Characteristic</p>
    </div>
    <div>
      <form class="form" [formGroup]="form">
        <div class="form-left">
          <div class="form-left-top">
            <mat-form-field class="title-input" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div class="form-left-bottom">
            <mat-form-field class="description-input" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="actions">
        <button mat-button (click)="onSubmit()">Save</button>
        <button mat-button (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
  